
#game {
    max-width: 1200px;
    margin: 10px auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    text-align: center;
}


#puzzle {
    display: inline-grid;
    grid-template-columns: auto auto auto auto auto auto;
}

img.piece {
    width: 100%;
    height: auto;
}

img.piece[rot="1"] {
    transform: rotate(90deg);
}

img.piece[rot="2"] {
    transform: rotate(180deg);
}

img.piece[rot="3"] {
    transform: rotate(270deg);
}

.piece:hover {
    opacity: .8;
}