* {
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(219, 219, 219);
}

#game {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

#head-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 10px;
}


.display {
    background-color: black;
    color: red;
    padding: 5px 10px;
}

.start-btn {
    border: 1px solid rgb(104, 104, 104);
    padding: 3px;
}

.start-btn:hover {
    background-color: rgb(104, 104, 104);
    cursor: pointer;
}

main {
    display: flex;
    text-align: center;
}


.field {
    height: 20px;
    width: 20px;
    background-color: rgb(152, 152, 152);
    border: 1px solid rgb(104, 104, 104);
    border-radius: 2px;
}


.field.available:hover {
    background-color: rgb(88, 88, 88);
    cursor: pointer;
}

.field.flag {
    background-color: rgb(152, 152, 152);
    cursor: default !important;
}

.field:not(.available) {
    background-color: rgb(186, 186, 186);
}

