
* {
    margin: 5px;
}

#game {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: gray;
    text-align: center;
}


#stopp_image {
    max-height: 100px;
}

p {
    padding: 2px;
    height: 20px;
    background-color: rgb(194, 194, 194);
}

.stats {
    display: flex;
    justify-content: stretch;
}

.stats > div {
    min-width: 90px;
}

.green {
    background-color: rgb(45, 223, 75);
}

.red {
    background-color: rgb(235, 99, 99);
}

.black {
    background-color: black;
}